/* comman start */
section{
  padding: 3rem 0;
}
img{
  width: 100%;
  max-width: 100%;
}
.is-container-fluid{
  width: 100%;
  height: auto;
}
.is-container{
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
.bg-color-1{
  background-color: #395B64;
}
.is-title{
  font-size: 1.2rem;
  font-weight: normal;
}
.is-title.is-4{
  font-size: 2rem;
}

.input{
  width: 100%;
  padding: .75rem;
  border: none;
  outline: none;
  font-family: inherit;
  background-color: #fff;
  font-size: 1rem;
}

.is-flex{
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* comman end */


/* Search component start */
.search{
  padding: 4rem 0;
}
.search .is-title{
  padding-bottom: 1rem;
  color: #ffffff;
}
/* Search component end */

/* card start */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.is-card .is-title{
  padding-top: .75rem;
  font-size: .75rem;
}
.is-card .is-desc{
  padding-top: .5rem;
  font-weight: light;
  color: red;
  font-size: .75rem;
}
.is-card .release-date{
  padding-top: .25rem;
  font-size: .75rem;
  color: #2C3333;
}
/* card end */

@media screen and (max-width: 600px) {
  .is-container {
    max-width: 100%;
    padding: 0 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .is-container {
    max-width: 90%;
    padding: 0 20px;
  }
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
  .is-container {
    max-width: 80%;
    padding: 0 30px;
  }
}

/* card */
@media screen and (max-width: 767px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* card */

